[user]
	name = Ernest Shefer
[credential]
	helper = cache
[core]
	filemode = false
	editor = nvim
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[commit]
	gpgsign = true
